.todo__item__modal {
	min-height: 35rem;

	width: 60vw;
	max-width: 90rem;

	padding: 0;
	border-radius: 0.5rem;

	background-color: var(--background-primary);
	box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);

	font-size: 1.6rem;

	position: relative;
	border: solid 1px rgba(166, 166, 166, 0.1);

	padding: 2rem;
}

.modal__background {
	z-index: 9999999999;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.5);
}

.modal__body {
	h1 {
		font-size: 1.75rem;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	p {
		font-size: 1.4rem;
	}

	hr {
		border: solid 1px var(--outline);
		opacity: 0.2;
		margin: 2rem 0;
	}

	button {
		text-align: left;
	}

	textarea {
		min-height: 15rem;
		border: solid 1px var(--outline);
	}

	h3 {
		color: var(--text-secondary);
		font-weight: 500;

		display: flex;
		align-items: center;
		margin-bottom: 1rem;

		svg {
			fill: var(--text-secondary);
			margin-right: 1rem;
		}
	}

	section {
		margin-left: 3.25rem;
		padding: 1rem 0 5rem 0;
	}
}

.modal__sections {
	display: flex;

	.left {
		flex: 1;
	}

	.right {
		width: 15rem;
		border: solid 1px var(--outline);
		border-radius: 0.5rem;
		padding: 1rem;
		margin-left: 2rem;

		button {
			display: block;
		}
	}
}

.loading {
	padding-top: 30rem;
}
