@import "styles/partial/mixins";

.comment {
	display: flex;
	align-items: flex-start;

	margin-bottom: 2rem;
}

.comment__poster__avatar {
	display: block;
	margin-right: 2rem;
}

.comment__head {
	display: flex;
	align-items: center;

	font-size: 1.2rem;
	color: var(--text-secondary);
	font-weight: bold;

	.spacer {
		display: block;
		margin: 0 0.5rem;
	}

	.comment__formatted_date {
		cursor: default;
		font-weight: 300;
	}
}

.comment__right {
	display: flex;
	flex-direction: column;

	.comment__content {
		margin-top: 0.5rem;
		@include wysiwyg_richtext_defaults;
	}
}
