@import "styles/partial/mixins";

.comment {
	display: flex;
	align-items: flex-start;

	margin-bottom: 2rem;
}

.comment__poster__avatar {
	display: block;
	margin-right: 2rem;
}

.comment__right {
	display: flex;
	flex-direction: column;

	.comment__head {
		display: flex;
		align-items: center;

		font-size: 1.2rem;
		color: var(--text-secondary);
		font-weight: bold;

		.spacer {
			padding: 0 0.35rem;
		}
	}

	.comment__poster {
		span {
			display: inline-block;
			font-size: 1.2rem;
			font-weight: bold;
			color: var(--text-secondary);
		}
	}

	.comment__content {
		margin-top: 0.5rem;
		@include wysiwyg_richtext_defaults;
	}

	.comment__formatted_date {
		cursor: default;
	}

	h1 {
		font-size: 5rem;
	}
}
