@import "../../../styles/partial/components/basic_button";

.add__new__comment {
	display: flex;
	flex-direction: column;

	form {
		width: 100%;

		.btn__container {
			display: flex;
			justify-content: flex-end;
			margin-top: 1.5rem;
		}
	}
}
