@import "../../../styles/partial/components/scrollbar";

.page__center {
	position: relative;

	height: calc(100vh - var(--nav-height));

	box-shadow: none;
	border-radius: 0;

	@include scrollbar;
}
