.page__settings {
	padding: 1rem 0;
}

.btn__container {
	height: 100%;
	width: 100%;

	display: flex;
	align-items: center;

	button {
		margin: 0;
	}

	padding: 0 2rem;
}

.modal__section {
	padding: 2rem 0;

	&:not(:last-of-type) {
		border-bottom: solid 1px var(--outline);
	}

	h4 {
		font-size: 2rem;
		font-weight: bold;
	}
}

.delete__btn__container {
	margin-top: 2rem;
	button {
		margin-top: 1rem;
		width: 15rem !important;
	}
}
