.devider {
	position: relative;
	min-height: 1.5rem;

	&:hover {
		background-color: transparent;
	}

	&__control {
		display: flex;
		align-items: center;
		transition: all 0.1s ease-in;

		width: 100%;

		cursor: pointer;

		.left__icon {
			&.active {
				svg {
					opacity: 1;
					border: solid 1px var(--color-pop);
					fill: var(--color-pop);
				}
			}

			svg {
				border: solid 1px var(--horizontal-ruling);
				border-radius: 0.5rem;
				transition: all 0.15s ease-in;
				fill: var(--horizontal-ruling);
				opacity: 0;
			}
		}

		.right__line {
			transition: all 0.1s ease-in;
			background-color: var(--horizontal-ruling);
			opacity: 0.25;
			width: 100%;
			color: var(--outline);
			height: 0.05rem;
			width: 100%;
			border-radius: 5rem;

			&.active {
				opacity: 1;
				background-color: var(--color-pop);
				width: 100%;
				margin-left: auto;
			}
		}

		&:hover {
			& .right__line {
				opacity: 1;
				background-color: var(--color-pop);
				width: 100%;
				margin-left: auto;
			}

			& .left__icon {
				svg {
					opacity: 1;
					border: solid 1px var(--color-pop);
					fill: var(--color-pop);
				}
			}
		}

		&.show__dropzone {
			& .right__line {
				padding: 1.5rem;
				margin: 1.5rem 0;
				border-radius: 0.5rem;

				opacity: 0.4;
				background-color: var(--background-primary);
			}

			& .left__icon {
				opacity: 0;
			}
		}

		&.active__dropzone {
			& .right__line {
				background-color: var(--color-pop);
			}
		}
	}
}
