@import "../../styles/partial/components/scrollbar";

.members__container {
	position: relative;
	margin-top: 2rem;
	padding: 1rem;
	border: solid 1px var(--outline);

	border-radius: 0.5rem;
	max-height: 25rem;
	min-height: 15rem;

	overflow-y: auto;

	@include scrollbar;

	.kick__btn {
		border: solid 2px var(--color-pop);
		color: var(--color-pop);
	}

	.owner__btn {
		border: solid 2px var(--outline);
		color: var(--outline);
		opacity: 1 !important;
		cursor: not-allowed;
	}

	.no__members {
		display: block;
		text-align: center;
		padding: 5rem 0rem;

		opacity: 0.45;
	}
}
