.page__members {
	padding: 2rem 1.5rem;
	border-bottom: solid 1px var(--outline);
	max-height: 50vh;

	h3 {
		font-size: 2rem;
		font-weight: 700;
	}
}

.card_head_container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 1rem;
}

.members__container {
	padding-top: 1.5rem;
	display: flex;

	li {
		background-color: var(--background-card);
		border-radius: 50%;
	}
}
