.heading {
	font-size: 1.8rem;
	padding-bottom: 1.5rem;

	color: var(--text-primary);
}

.no__found {
	font-size: 1.4rem;
	color: var(--text-secondary);
}

.welcome__msg {
	margin: 5rem 0 3rem 0;
	border-radius: 1rem;
	padding: 2rem;

	text-align: center;

	border: solid 1px var(--outline);

	h1 {
		font-size: 3rem;
		font-weight: 700;
		color: var(--text-primary);
		margin-bottom: 1.5rem;
	}

	p {
		color: var(--text-secondary);
	}
}
