@import "../../../styles/partial/components/basic_button";

.todo__item {
	position: relative;
	border: solid 1px var(--outline);
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-family: inherit;

	overflow: hidden;

	hr {
		margin: 0;
		margin-bottom: 1.5rem;
		border: none;
		border-bottom: solid 1px var(--outline);
		opacity: 0.5;
	}

	&::before {
		content: "";

		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 0.85rem;

		background-color: var(--outline);
	}

	&.complete {
		&::before {
			background-color: var(--color-green);
		}
	}

	.open__modal__btn {
		padding: 1.5rem;
		width: 100%;
		height: 100%;
		text-align: left;

		&:hover {
			background-color: var(--horizontal-ruling);
		}
	}
}

.todo__item__controls {
	padding: 0 1.5rem;
	max-height: 0;

	transition: all 0.3s ease-in-out;

	button {
		margin-right: 0.5rem;
		display: flex;
		align-items: center;

		@include btn_basic;

		span {
			margin-left: 0.5rem;
		}
	}

	.controls__btn__container {
		display: flex;
		margin-bottom: 1.5rem;
	}

	.complete {
		svg {
			fill: var(--text-secondary);
		}
	}
	.remove {
		svg {
			fill: var(--text-secondary);
		}
	}

	&.active {
		max-height: 7rem;
	}
}
