@import "styles/partial/components/basic_button";
@import "styles/partial/mixins";

.add__description__btn {
	@include btn_basic;

	display: flex;
	align-items: center;

	span {
		margin-left: 0.5rem;
	}
}

.loading {
	opacity: 0.5;
	cursor: not-allowed;
}

.description__section {
	margin-left: 3.25rem;
	padding: 1rem 0 5rem 0;

	@media screen and (max-width: 768px) {
		margin-left: 0rem;
	}

	.description {
		@include wysiwyg_richtext_defaults;
	}
}
