.todo_link {
	display: flex !important;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-secondary);
	padding: 0.2rem 1rem;

	text-decoration: none !important;

	h4 {
		font-size: 1.8rem;
		margin: 0;
		padding: 0.25rem 0rem;
		margin-bottom: 0;
	}

	svg {
		margin-left: 0.1rem;
		margin-right: 1rem;
		opacity: 0.5;
	}

	&.active {
		svg {
			opacity: 1;
		}

		transition: background 0.3s ease-out;

		font-weight: bold;
		background: var(--shadow-block);
		color: var(--text-primary);
	}
}
