@import "../../../styles/partial/components/scrollbar";

.page__center {
	position: relative;

	padding: 0.5rem;
	min-height: calc(100vh - var(--nav-height));

	box-shadow: none;
	border-radius: 0;

	overflow-y: auto;
	@include scrollbar;

	@media only screen and (min-width: 768px) {
		&::-webkit-scrollbar {
			width: 1.5rem;
		}

		padding: 1.5rem;
	}
}
