.setttings__list__item {
	text-align: left;
	font-size: 1.5rem;
	font-weight: 500;

	button {
		width: 100%;
		text-align: left;
		padding: 0.5rem 2rem;
	}

	cursor: pointer;

	&:hover {
		background-color: var(--shadow-block);
	}
}
