.comment {
	display: flex;
	align-items: flex-start;

	margin-bottom: 2rem;
}

.comment__poster__avatar {
	display: block;
	margin-right: 2rem;
}

.comment__right {
	display: flex;
	flex-direction: column;

	.comment__poster {
		display: flex;
		align-items: center;

		.spacer {
			padding: 0 0.35rem;
		}

		span {
			display: inline-block;
			font-size: 1.2rem;
			font-weight: bold;
			color: var(--text-secondary);
		}
	}

	.comment__content {
		margin-top: 0.5rem;
		font-size: 1.45rem;
		color: Var(--text-primary);
	}

	.comment__formatted_date {
		cursor: default;
	}
}

.show__more {
	display: block;
	margin-top: 0.5rem;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--color-pop);
	cursor: pointer;
}
