@import "../../../styles/partial/components/scrollbar";

.todo__card {
	background-color: var(--background-primary);
	box-shadow: 0rem 0.4rem 0.4rem var(--shadow-block);
	border-radius: 1rem;

	position: relative;

	min-width: 40rem;
	max-width: 40rem;
	max-height: 100%;

	overflow-x: auto;
	@include scrollbar;

	ul {
		list-style: none;
	}

	.card {
		padding: 1rem;
	}

	.card__expand {
		position: absolute;
		bottom: 1rem;
		left: 50%;

		transform: translateX(-50%);
		cursor: pointer;

		background: none;
		border: none;

		border-radius: 0.5rem;

		display: flex;
		align-items: center;

		transition: all 0.3s ease-in;

		&:hover {
			background: var(--background-card);
			box-shadow: 0rem 0.4rem 0.4rem var(--shadow-block);
		}
	}
}

.no__tasks {
	display: block;
	text-align: center;
	font-size: 1.25rem;
	color: var(--text-secondary);
	opacity: 0.5;
	text-align: center;
}
