.page__settings {
	padding: 2rem 1.5rem;
	border-bottom: solid 1px var(--outline);
	max-height: 50vh;

	display: flex;
	align-items: center;
	justify-content: space-between;

	h3 {
		font-size: 2rem;
		font-weight: 700;
	}
}
