.card__top {
	background-color: var(--color-pop-hover);
	height: 3rem;
	width: 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	padding: 0 0.5rem;

	button {
		transition: all 0.3s ease-out;

		background: none;
		border: none;
		cursor: pointer;

		opacity: 0;
		pointer-events: none;
	}

	&:hover {
		button {
			opacity: 1;
			pointer-events: all;
		}
	}

	// svg {
	// 	margin-left: auto;
	// 	fill: var(--text-primary);
	// }

	.menu {
		background: var(--background-card);
		border-radius: 0.5rem;
		color: var(--text-primary);
		font-size: 1.4rem;
		box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);

		svg {
			margin-right: 1rem;
		}
	}
	.menu_item {
		&:hover {
			background-color: var(--outline);
		}
	}
}
