@import "../../../styles/partial/components/scrollbar";

.comments {
	max-height: 50rem;
	overflow-y: auto;

	@include scrollbar;

	.no__comments {
		font-weight: 700;
		color: var(--text-secondary);
		text-align: center;
	}
}
