@import "../../../styles/partial/components/scrollbar";

.comments {
	min-height: 35rem;

	padding-right: 2rem;

	@include scrollbar;

	.no__comments {
		font-weight: 700;
		color: var(--text-secondary);
		text-align: center;
		margin-bottom: 2rem;
	}
}
