@import "../../../styles/partial/components/scrollbar";

.comments {
	min-height: 15rem;

	padding-right: 2rem;

	@include scrollbar;

	.no__comments {
		font-weight: 700;
		opacity: 0.5;
		color: var(--text-secondary);
		text-align: center;
		padding-top: 5rem;
		margin-bottom: 2rem;
	}
}

.load__more__btn {
	max-width: 15rem;
	margin: 1rem auto 3rem auto;
}
