.dropdown {
	position: absolute;
	top: 100%;
	right: 0;

	background: var(--background-primary);
	border: solid 1px var(--outline);
	padding: 0.25rem 0.5rem;
	width: 3.8rem;

	text-align: center;

	border-radius: 0.25rem;

	li {
		padding: 0.25rem 0;

		button {
			font-weight: bold;
		}
	}
}

.tool {
	padding: 0.5rem 0;
	opacity: 0.2;
	&.active {
		opacity: 1;
	}
}


.primary_buttons {
	display: flex;
	align-items: center;
	padding: 0.25rem;
}
