@import "styles/partial/mixins";
@import "styles/partial/components/scrollbar";

.todo {
	&__loading {
		@include absolute_center();
		padding: 3.75rem;
		border-radius: 0.5rem;
	}

	&__container {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: flex-start;
		gap: 2rem;
		padding: 2rem;

		@include scrollbar;

		overflow-x: auto;
		overflow-y: hidden;
		max-width: 100%;
		height: 100%;
	}
}
