.menu {
	background: var(--background-primary);
	border: solid 1px var(--outline);

	border-radius: 0.5rem;

	box-shadow: 0.2rem 0.15rem 1rem var(--shadow-block);

	position: absolute;
	left: 50%;
	transform: translateX(-50%);

	&.top {
		bottom: 1.5rem;
	}

	&.bottom {
		top: 1.5rem;
	}

	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 10;

	button {
		display: flex;
		align-items: center;
		justify-content: center;

		padding: 0.85rem;

		&:hover {
			background: var(--outline);
		}
	}
}
