.line {
	position: relative;
	width: 100%;
	text-align: center;

	font-size: 1.6rem;
	font-weight: medium;

	color: var(--outline);

	transition: opacity 0.3s ease-in;
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}

	::before {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 45%;
		height: 1px;
		background: var(--outline);
		border-radius: 50%;
	}

	::after {
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 45%;
		height: 1px;
		background: var(--outline);
		border-radius: 50%;
	}
}

.head {
	margin: 1rem auto;
	width: 13.5rem;

	background: var(--background-primary);
	border: solid 1px var(--outline);

	border-radius: 0.5rem;

	box-shadow: 0.2rem 0.15rem 1rem var(--shadow-block);

	display: flex;
	align-items: center;
	justify-content: space-around;

	display: none;

	button {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 4.5rem;
		width: 4.5rem;
		padding: 0 0.3rem;

		&:hover {
			background: var(--outline);
		}
	}

	&.active {
		display: flex;
	}
}
