.form__body {
	padding: 2rem 0;
	display: flex;
	align-items: center;

	& .left {
		margin-right: 2rem;
	}

	& .right {
		flex: 1;
	}
}

.profile {
	h4 {
		font-size: 1.6rem;
		font-weight: bold;
	}
}

.save__btn__container {
	display: flex;
	justify-content: flex-end;
}

.modal__section {
	padding: 2rem 0;

	&:not(:last-of-type) {
		border-bottom: solid 1px var(--outline);
	}

	button {
		width: 30%;
	}
}
