.button {
	padding: 0.2rem;
	font-size: 1.4rem;
	margin-right: 1rem;

	svg {
		transition: fill 0.3s ease-in-out;
		fill: var(--outline);
	}

	&:hover,
	&.active {
		svg {
			fill: var(--text-primary);
		}
	}
}
