.notifications {
	position: relative;
	margin-left: auto;

	display: flex;
	align-items: center;
}

.unread__notif__reminder {
	height: 0.85rem;
	width: 0.85rem;
	background-color: var(--color-pop);
	border-radius: 50%;

	position: absolute;
	top: 45%;
	right: 0.25rem;
}
